* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffead4;
    overflow-x: hidden;
}

.container-header {
    width: 100vw;
}

/* Atributos para animação
elemento {
    animation: [name] [duration] [timing-function] [delay] [iteration-count] [direction];
  } */

.lett-header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    margin-top: 10%;
    fill: transparent;
    animation: lett-preenchimento 0.5s ease-out forwards 4s;
}

.lett-header path {
    stroke-width: 2px;
    stroke: #be253f;
    stroke-dasharray: 3000; /* Cria traços */
    stroke-dashoffset: 3000; /* Anima esses traços*/
    animation: lett-tracado 5s ease-out forwards 1s;
}

@keyframes lett-preenchimento {
    to {
        fill: #be253f;
    }
}

@keyframes lett-tracado {
    to {
        stroke-dashoffset: 0;
    }
}

h1,
h2 {
    font-family: "Pacifico", cursive;
    color: #be253f;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1, 5rem;
}

p {
    font-family: "Lato", sans-serif;
    color: #484848;
    font-size: 1em;
}

.container-cards {
    width: 80%;
    margin: auto;
    display: flex;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin: 20px;
}
