@import '../abstract/variaveis';

.banner {
    background: url(../imagens/banner.jpeg) no-repeat fixed center;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner {
        padding: 3rem;
        text-align: center;
        h1 {
            font-size: $tamanho-do-texto * 2;
            color: white;
            margin-bottom: 10px;
            font-weight: 900;
            transition: 1s;
            animation: logo 3s linear;
            position: relative;
        }
        @keyframes logo {
            0% {top: -200px;}
            50% {top: 0px;}
        }
        h1:hover {
            transform: scale(1.1)
        }
        h2 {
            font-size: $tamanho-do-texto/2;
            color: white;
        }
    }
    .container_seta {
        display: inline-flex;
        margin: auto;
        position: absolute;
        bottom: 40px;
        animation: seta 1.5s infinite;
        .seta_l, .seta_r {
            width: 50px;
            height: 5px;
            background-color: $cor-terciaria;
        }
        .seta_l {
            transform: rotate(30deg);
            margin-right: -8.5px;
        }
        .seta_r {
            transform: rotate(-30deg);
        }
    }
    @keyframes seta {
        0% {bottom: 40px;}
        50% {bottom: 20px;}
        100% {bottom: 40px;}

    }
}