* {
    font-family: arial;
}

html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;

}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    transform: skewX(-10deg);
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    border-radius: 10px 0 10px 0;
    

}

nav .active a,
nav a:hover  {
    background-color: #2A8C55;
    color: #F2E205;
}

#banner {
    display: flex;
    justify-content: center;
    background-image:url(../images/img2.jpg);
    background-position: center;
    background-size: cover;
    height: 950px;

}

.column {
    flex-direction:column ;

}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.banner_headline h1 {
    color: #2A8C55;
    font-size: 80px;
    text-shadow: 1px 2px 0px #F2F2F2;
    margin: 0;
    padding: 0;
    max-width: 490px;
}

.banner_headline h2 {
    color: #2A8C55 ;
    font-size: 25px;
    text-shadow: 0px 1px 0px #F2F2F2;
    margin: 0;
    padding: 0;
    max-width: 390px;
    margin-top: 30px;

}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    padding: 20px;
    color: #02734A;
}

.banner1 {
    background-color: #F2CB05;

}

.banner2 {
    background-color: #F2B705;
}

.banner3 {
    background-color: #D98F07;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #F2F2F2;
    padding: 5px;
    color: #2A8C55;
    font-size: 15px;
    text-decoration: none;
}

.banner3 table {
    width: 250px;
    text-align: center;
    font-size: 15px;
    
}

.banner3 table td {
    border-bottom: 1px solid #02734A;
}

#geral {
    display: flex;
    justify-content: center;
    
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;

}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #02734A;
    margin-top: 10px;
}

.widget_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.widget_ret {
    background-color: #F2B705;
    width: 140px;
    height: 140px;
    margin: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
    
}

article .news_posted_at {
    background-color: #2A8C55;
    color: #F2F2F2;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #D98F07;
    color: #F2F2F2;
    font-size: 12px;
    padding: 10px;
}

article .news_img {
    margin-top: 30px;
}

article .news_img img {
    width: 100%;
    height: auto;

}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 25px;
}

article .news_resume {
    font-size: 14px;
    color: #02734A;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
    color: #F2F2F2;
    padding: 20px;
}

.fm_1 {
    background-color: #F2CB05;

}

.fm_2 {
    background-color: #F2B705;
}

.fm_3 {
    background-color: #D98F07;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #F2F2F2;
}

.flex_colum {
    flex-direction: column;
}

footer .widget_title_text {
    color: #F2F2F2;
}

.footer_copy {
    border-top: 1px solid #02734A;
    height: 40px;
    line-height: 40px;
    color: #F2F2F2;
    font-size: 12px;
    margin-top: 30px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 30px;
}

.mm_line {
    height: 6px;
    background-color: #02734A;
    border-radius: 4px 0 4px 0;
}



@media (max-width:600px) {
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section, aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;  
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #F2F2F2;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}